<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OauthClientId" value="com.nedap.retail.si.1234567ABC" />
    <add key="OauthSecret" value="a" />
    <add key="OauthUrl" value="http://localhost:9091" />
    <add key="ApiUrl" value="http://localhost:9090" />
  </appSettings>
</configuration>